{% extends 'base.html' %}

{% block head %}
<title> Home </title>
{% endblock %}


{% block body %}
<h1>Home Page</h1>
<main role="main">
    <div class="jumbotron">
      <div class="col-sm-8 mx-auto">
        <h1>Wellcome!</h1>
        <p>Wellcome to Omer's Dictionary </p>
        <p>We have only English-Turkish Dictionary for now. </p>
        <p>
            <a class="btn btn-primary" href="/words" role="button">Go to search &raquo;</a>
        </p>
      </div>
    </div>
  </main>
</div>
{% endblock %}